<div class="register-form">
  <p-toast />
  <form class="register-form__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4 md:gap-8">
      <app-select-form
        id="typeUSer"
        label="Tipo de usuário"
        initialIcon="heroArrowPathRoundedSquare"
        [control]="getControl('tipoUsuario')"
        [options]="typesUser()" />

      <app-input-form
        id="name"
        label="Nome"
        type="text"
        [control]="getControl('nome')"
        initialIcon="heroUser" />

      <app-input-form
        id="email"
        label="Email"
        type="email"
        [control]="getControl('email')"
        initialIcon="heroAtSymbol" />

      <div class="flex items-center gap-2 w-full">
        <app-input-form
          id="registration"
          class="flex-1"
          label="Matrícula"
          type="text"
          [control]="getControl('matricula')"
          initialIcon="heroIdentification" />

        <app-input-form
          id="phone"
          class="flex-1"
          label="Telefone"
          type="tel"
          [control]="getControl('telefone')"
          initialIcon="heroDevicePhoneMobile" />
      </div>

      <app-select-form
        id="course"
        label="Curso"
        initialIcon="heroAcademicCap"
        [control]="getControl('curso_id')"
        [options]="courses()" />

      <div class="flex items-center gap-2 w-full">
        <app-input-form
          class="flex-1"
          id="password"
          label="Senha"
          type="password"
          [control]="getControl('senha')"
          initialIcon="heroLockClosed"
          [isPassword]="true" />

        <app-input-form
          class="flex-1"
          id="password"
          label="Repita a senha"
          type="password"
          [control]="getControl('confirmarSenha')"
          initialIcon="heroLockClosed"
          [isPassword]="true" />
      </div>
    </div>
    <app-button
      type="submit"
      text="Cadastrar"
      color="bg-primary-900"
      class="text-light" />
  </form>

  <p class="text-tertiary-500 text-base text-center font-inter font-normal">
    Já possui conta?
    <a [routerLink]="['/autenticacao/entrar']" class="text-primary-900"
      >Clique aqui!</a
    >
  </p>
</div>
