<app-pages-layout class="flex">
  <app-title-header-list
    title="Gerencie os controles"
    subtitle="Crie controles e controle as frequências dos projetos" />

  <ng-template #headerTable>
    <tr>
      <th style="width: 25%">Projeto</th>
      <th style="width: 25%">Data</th>
      <th style="width: 20%">Ver frequências</th>
    </tr>
  </ng-template>

  <ng-template #bodyTable let-control>
    <tr>
      <td>
        <div
          class="max-w-[350px] truncate whitespace-nowrap overflow-hidden text-ellipsis">
          <p>{{ project()?.titulo }}</p>
        </div>
      </td>

      <td>
        <div
          class="max-w-[350px] truncate whitespace-nowrap overflow-hidden text-ellipsis">
          {{ formatDate(control.ano, control.mes) }}
        </div>
      </td>
    </tr>
  </ng-template>
</app-pages-layout>
