<div class="relative flex flex-col items-center justify-between gap-4">
  <div class="w-full flex items-center justify-between">
    <div>
      <h2 class="text-2xl font-bold text-dark">Gerenciar editais</h2>
      <p class="text-base text-tertiary-500">
        Faça o gerenciamento do editais publicados
      </p>
    </div>
    <p-button
      class="absolute right-0"
      severity="contrast"
      (click)="showDialog()"
      label="Cadastrar edital" />
    <p-dialog
      header="Cadastre um novo edital"
      [(visible)]="visible"
      [modal]="true"
      [dismissableMask]="true"
      [style]="{ width: '500px' }"
      [breakpoints]="{ '960px': '90vw' }"
      appendTo="body">
      <app-form-notice (successRegister)="onSuccessRegister()" />
    </p-dialog>
  </div>
  <div
    class="w-full flex items-center justify-between rounded-2xl border border-tertiary-100 p-4 gap-4">
    <app-input-form
      id="nome"
      label="Filtrar pelo nome do edital"
      type="text"
      [control]="getControl('filterName')"
      class="w-full"
      initialIcon="heroDocumentText" />

    <app-select-form
      id="course"
      label="Curso"
      initialIcon="heroAcademicCap"
      [control]="getControl('filterFile')"
      [options]="fileFilter()" />
  </div>
</div>
