<p-toast position="top-right" />
<div class="notice-form">
  <form class="notice-form__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input-form
      id="nome"
      label="Insira o nome do edital"
      class="w-full"
      type="text"
      [control]="getControl('nome')"
      initialIcon="heroDocumentText" />

    <div class="w-full">
      <label class="label-description_form" for="descricao"
        >Insira uma descrição para o edital</label
      >
      <textarea
        rows="6"
        name="descricao"
        id="descricao"
        pTextarea
        formControlName="descricao"
        class="textarea_form">
      </textarea>
    </div>

    <app-button
      type="submit"
      text="Cadastrar edital"
      color="bg-primary-900"
      class="text-light w-full"
      [loading]="loading()" />
  </form>
</div>
