<div class="relative flex flex-col items-center justify-between gap-4">
  <div class="w-full flex items-center justify-between">
    <app-title-header-list
      title="Gerenciar inscrições"
      subtitle="Faça o gerenciamento das inscrições no projeto" />
  </div>
  <div
    class="w-full flex flex-col md:flex-row items-center justify-between rounded-2xl border border-tertiary-100 p-4 gap-4">
    <app-input-form
      id="nome"
      label="Filtrar pelo nome do aluno"
      type="text"
      [control]="getControl('filterName')"
      class="w-full"
      initialIcon="heroDocumentText"
      placeholder="Informe o nome do aluno" />

    <app-select-form
      id="status"
      class="w-full"
      label="Status do aluno"
      initialIcon="heroAdjustmentsHorizontal"
      [control]="getControl('filterStatus')"
      [options]="statusFilter()" />
  </div>
</div>
