<app-table-list-items [data]="[]">
  <ng-template #headerTable>
    <tr>
      <th style="width: 25%">Mês</th>
      <th style="width: 25%">Reuniões</th>
    </tr>
  </ng-template>

  <ng-template #bodyTable let-controls>
    <tr>
      <td>
        <div
          class="max-w-[350px] truncate whitespace-nowrap overflow-hidden text-ellipsis">
          {{ controls.titulo }}
        </div>
      </td>

      <td>
        <div
          class="max-w-[350px] truncate whitespace-nowrap overflow-hidden text-ellipsis">
          {{ controls.titulacao }}
        </div>
      </td>
    </tr></ng-template
  >
</app-table-list-items>
