<div class="select-form">
  <label class="select-form__label" [for]="id()">{{ label() }}</label>
  <div class="select-form__container">
    <ng-icon [name]="initialIcon()" />

    <select class="select-form__input" [id]="id()" [formControl]="control()">
      @for (option of options(); track $index) {
        <option [value]="option.value">{{ option.label }}</option>
      }
    </select>
  </div>
  <div class="text-danger-500 text-sm mt-1">
    @if (formControl.invalid && (formControl.dirty || formControl.touched)) {
      {{ getSelectErrorMessage() }}
    }
  </div>
</div>
