<div class="relative flex flex-col items-center justify-between gap-4">
  <div class="w-full flex items-center justify-between">
    <app-title-header-list
      title="Gerenciar projetos"
      subtitle="Faça o gerenciamento dos projetos publicados" />

    @if (isFiltered()) {
      <a
        class="inline-flex items-center justify-center bg-gradient-to-r from-primary-600 to-primary-700 rounded-xl px-6 py-3 text-white font-bold hover:from-primary-700 hover:to-primary-800 transition-all duration-500 shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-primary-500/50"
        routerLink="/projetos/cadastrar"
        >Cadastrar projetos</a
      >
    }
  </div>
  <div
    class="w-full flex items-center justify-between rounded-2xl border border-tertiary-100 p-4 gap-4">
    <app-input-form
      id="nome"
      label="Filtrar por título do projeto"
      type="text"
      [control]="getControl('filterTitle')"
      class="w-full"
      initialIcon="heroDocumentText"
      placeholder="Informe o título do projeto" />

    <app-select-form
      id="status"
      label="Status do projeto"
      initialIcon="heroAdjustmentsHorizontal"
      [control]="getControl('filterStatus')"
      [options]="statusFilter()" />

    @if (!isFiltered()) {
      <app-select-form
        id="course"
        label="Curso"
        initialIcon="heroAdjustmentsHorizontal"
        [control]="getControl('filterCourse')"
        [options]="coursesFilter()" />
    }
  </div>
</div>
