<div class="login-form">
  <p-toast />
  <form class="login-form__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-6 md:gap-12">
      <app-input-form
        id="email"
        label="Email"
        type="email"
        [control]="getControl('login')"
        initialIcon="heroUser"
        placeholder="Informe seu email" />

      <app-input-form
        id="password"
        label="Senha"
        type="password"
        [control]="getControl('senha')"
        initialIcon="heroLockClosed"
        [isPassword]="true"
        placeholder="Informe sua senha" />
    </div>

    <div class="flex flex-col md:flex-row gap-4 justify-between items-center">
      <div class="flex items-center">
        <p-checkbox
          binary="true"
          inputId="remember"
          formControlName="remember" />
        <label
          for="remember"
          class="ml-2 text-tertiary-500 font-inter font-light">
          Lembrar usuário</label
        >
      </div>
    </div>

    <app-button
      type="submit"
      text="Entrar"
      color="bg-primary-900"
      class="text-light"
      [loading]="loading()" />
  </form>

  <p class="text-tertiary-500 text-base text-center font-inter font-normal">
    Ainda não possui conta?
    <a [routerLink]="['/autenticacao/cadastrar']" class="text-primary-900"
      >Clique aqui!</a
    >
  </p>
</div>
