<div class="w-full flex flex-col items-start justify-between gap-4">
  <app-title-header-list
    title="Gerenciar alunos"
    subtitle="Faça o gerenciamento dos alunos cadastrados" />
  <div
    class="w-full flex items-center justify-between rounded-2xl border border-tertiary-100 p-4 gap-4">
    <app-input-form
      id="nome"
      label="Filtrar pelo nome do aluno"
      type="text"
      [control]="getControl('filterName')"
      class="w-full"
      initialIcon="heroUser" />

    <app-select-form
      id="status"
      label="Status"
      initialIcon="heroAcademicCap"
      [control]="getControl('filterStatus')"
      [options]="statusFilter()" />
  </div>
</div>
