/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-success-100: #e6f4ea;
  --color-success-200: #c0e7cd;
  --color-success-300: #99dab1;
  --color-success-400: #73cd95;
  --color-success-500: #4dc179;
  --color-success-600: #3da062;
  --color-success-700: #2e804b;
  --color-success-800: #1e6034;
  --color-success-900: #0F401D;s

  --color-primary-100: #E0E7FF;
  --color-primary-200: #C7D2FE;
  --color-primary-300: #A5B4FC;
  --color-primary-400: #818CF8;
  --color-primary-500: #6366F1;
  --color-primary-600: #4F46E5;
  --color-primary-700: #4338CA;
  --color-primary-800: #3730A3;
  --color-primary-900: #1E3A8A;

  --color-secondary-100: #FEFCE8;
  --color-secondary-200: #FEFCE8;
  --color-secondary-300: #FEF08A;
  --color-secondary-400: #FDE047;
  --color-secondary-500: #FACC15;
  --color-secondary-600: #EAB308;
  --color-secondary-700: #CA8A04;
  --color-secondary-800: #A16207;
  --color-secondary-900: #854D0E;

  --color-tertiary-100: #F3F4F6;
  --color-tertiary-200: #E5E7EB;
  --color-tertiary-300: #D1D5DB;
  --color-tertiary-400: #9CA3AF;
  --color-tertiary-500: #6B7280;
  --color-tertiary-600: #4B5563;
  --color-tertiary-700: #374151;
  --color-tertiary-800: #1F2937;
  --color-tertiary-900: #111827;

  --color-danger-100: #FEE2E2;
  --color-danger-200: #FECACA;
  --color-danger-300: #FCA5A5;
  --color-danger-400: #F87171;
  --color-danger-500: #EF4444;
  --color-danger-600: #DC2626;
  --color-danger-700: #B91C1C;
  --color-danger-800: #991B1B;
  --color-danger-900: #7F1D1D;

  --color-light: #FFFFFF;
  --color-dark: #1F2937;

  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  @apply h-full;
}
