/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-success-100: #e6f4ea;
  --color-success-200: #c0e7cd;
  --color-success-300: #99dab1;
  --color-success-400: #73cd95;
  --color-success-500: #4dc179;
  --color-success-600: #3da062;
  --color-success-700: #2e804b;
  --color-success-800: #1e6034;
  --color-success-900: #0f401d;

  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #1e3a8a;

  --color-secondary-100: #fefce8;
  --color-secondary-200: #fefce8;
  --color-secondary-300: #fef08a;
  --color-secondary-400: #fde047;
  --color-secondary-500: #facc15;
  --color-secondary-600: #eab308;
  --color-secondary-700: #ca8a04;
  --color-secondary-800: #a16207;
  --color-secondary-900: #854d0e;

  --color-tertiary-100: #f3f4f6;
  --color-tertiary-200: #e5e7eb;
  --color-tertiary-300: #d1d5db;
  --color-tertiary-400: #9ca3af;
  --color-tertiary-500: #6b7280;
  --color-tertiary-600: #4b5563;
  --color-tertiary-700: #374151;
  --color-tertiary-800: #1f2937;
  --color-tertiary-900: #111827;

  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #fca5a5;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;

  --color-light: #ffffff;
  --color-dark: #1f2937;

  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  @apply h-full;
}
